<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1>Farm Detail</h1>
    <h1>Farm Name:<%= farm.name %></h1>
    <p>City: <%= farm.city %></p>
    <p>Email: <%= farm.email %></p>
    <h1>Products:</h1>
    <h3>total:<%= farm.products.length %></h3>
    <ul>
        <% for(let product of farm.products){%>
            <li><a href="/products/<%= product._id %>"><%= product.name %></li></a>  
        <% } %>
    </ul>
    <a href="/farms">All Farm</a><br>       
    <a href="/farms/<%= farm._id %>/products/new">Add Product</a><br>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST">
        <button>Delele</button>
    </form> 

</body>
</html>